{% extends 'tools.html' %}
{% block header %}
	<h1>{% block title %}Cytogenetique{% endblock %}</h1>
{% endblock %}
{% block content %}
	<div id="loading"></div>
	<div id="content">
		<form method="POST" enctype="multipart/form-data">
			HOMME: <input type="file" name="HOMME" multiple><br>
			FEMME: <input type="file" name="FEMME" multiple><br>
			RECLUSTERING: <input type="file" name="RECLUSTERING" multiple><br>
		<input type="submit" value="Submit" onclick="loading();">
		</form>
	</div>
{% endblock %}
