{% extends 'tools.html' %}
{% block header %}
	<div class="jumbotron jumbotron-fluid" style="margin:10px;">
		<div class="container">
			<h1 class="display-4"  id="color-theme">{% block title %}Merge TSV{% endblock %}</h1>
			<p class="lead">Merge multiple STARK tsv files in one</p>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div id="loading"></div>
	<div id="content">
		<form method="POST" enctype="multipart/form-data">
			<div class="row border-bottom">
				<div class="col-md-4">
					<a class="font-weight-bold" data-toggle="tooltip" data-placement="top" title="list of input file (SAMPLE.final.tsv)">input file: </a>
				</div>
				<div class="col-md-4">
					<input type="file" name="inputfile" multiple>
				</div>
			</div>
		<div class="row justify-content-center">
			<div class="col-4">
				<input  class="btn btn-primary" type="submit" value="Submit" onclick="loading();">
			</div>
		</div>
		</form>
	</div>
{% endblock %}
