{% extends 'tools.html' %}
{% block header %}
	<div class="jumbotron jumbotron-fluid" style="margin:10px;">
		<div class="container">
			<h1 class="display-4"  id="color-theme">{% block title %}Test{% endblock %}</h1>
			<p class="lead">Testing phase ...</p>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div id="loading"></div>
	<div id="content">
		<form method="POST" enctype="multipart/form-data">
		<div class="row justify-content-center">
			<div class="col-4">
				<input  class="btn btn-primary" type="submit" value="Submit" onclick="loading();">
			</div>
		</div>
		</form>
	</div>
{% endblock %}
